#set ($has_text = false)
    <div id="footer">
#if ($sparql_endpoint)
      This page shows information obtained from the SPARQL endpoint at <a class="sparql-uri" href="$sparql_endpoint">$sparql_endpoint</a>.<br />
#end
#if ($rdf_link)
      <a href="$rdf_link?output=n3">As N3</a> |
      <a href="$rdf_link?output=xml">As RDF/XML</a>
#set ($has_text = true)
#end
#if ($disco_link)
#if ($has_text)
      |
#end
      <a href="$disco_link">Browse in Disco</a>
#set ($has_text = true)
#end
#if ($tabulator_link)
#if ($has_text)
      |
#end
      <a href="$tabulator_link">Browse in Tabulator</a>
#set ($has_text = true)
#end
#if ($openlink_link)
#if ($has_text)
      |
#end
      <a href="$openlink_link">Browse in OpenLink Browser</a>
#set ($has_text = true)
#end
    </div>
  </body>
</html>