

.myButtonStyle3 {
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: middle;
}

.myHeader {
	fontWeight: middle;
}

.closeBtn {
	upSkin:        Embed('../img/closeButton.png');
	overSkin:      Embed('../img/closeButton.png');
	downSkin:      Embed('../img/closeButton.png');
	disabledSkin:  Embed('../img/closeButton.png');
}

.pinBtn {
	upSkin:        Embed('../img/pin3.png');
	overSkin:      Embed('../img/pin3.png');
	downSkin:      Embed('../img/pin3.png');
	disabledSkin:  Embed('../img/pin3.png');
}

.unpinBtn {
	upSkin:        Embed('../img/unpin1.png');
	overSkin:      Embed('../img/unpinhighlight1.png');
	downSkin:      Embed('../img/unpinhighlight1.png');
	disabledSkin:  Embed('../img/unpin1.png');
}